.whiteContainer { 
    background-color: #a0a0ff;
    overflow: hidden;
    height: 50vh;
}

.blackContainer { 
    background-color: #ffa0a0;
    overflow: hidden;
    height: 50vh;
}

.gameScreenWrapper {
    height: 100%;
    overflow-y: hidden;
}