.blackContainer {
    background-color:DodgerBlue;
    width: 100%;
    overflow: hidden;
    float: left;
}

.lowerContainer {
    background-color:Orange; 
    overflow-x: hidden;
}

.upperContainer {
    background-color:MediumSeaGreen;
    overflow: hidden;
    display:flex;
}

.gameScreenWrapper {
    padding: 10vh; 
    background-color: pink;
    height: 100%;
    width: 98.9vw;
    overflow-x: hidden;
}

.gameScreenWrapperInner {
    background-color:tomato;
    display: inline-block;
}

.gameScreenTitle {
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

.whiteCardChooseContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.cardButton {
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: start;
    padding: 0;
    margin: 20px;

}

.cardButtonPicked {
    background-color: blue;
    border-radius: 10px;
    padding: 8px;
    border: none;
    outline: none;
    text-align: start;
    display: inline-block;
    width: fit-content;
    margin: 10px;
}

.cardButtonPicked:hover {
    transform: rotate(5deg);
    cursor: pointer;
}

.cardButton:hover {
    transform: rotate(5deg);
    cursor: pointer;
}

.gameScoreboard {
    background-color: white;
    float: left;
    margin: 20px;
    height: 250px;
    background-color:#fafafa;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-size: larger;
    overflow-x: hidden;
}

.confirmChoiceButton {
    text-align: center;
    background-color: black;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: large;
    outline: none;
    padding: 7px;
}

.confirmChoiceButton:hover {
    cursor: pointer;
}
