.whiteContainer { 
    width: 60%;
    overflow-x: hidden;
}

.gameScreenWrapper {
    display: inline-flex;
    padding: 10vh; 
    background-color: #ffa0a0;
    height: 100%;
    width: 89.5vw;
    overflow-x: hidden;

}

.gameWhiteCard:hover {
    transform: rotate(5deg);
    cursor: pointer;
}


.gameScoreboard {
    background-color: white;
    float: right;
    margin: 20px;
    height: 250px;
    width: 19%;
    background-color:#fafafa;
    border-radius: 10px;
    border: 2px dashed black;
    padding: 10px;
    text-align: center;
    font-size: larger;
    overflow-x: hidden;
}